*{
    margin: 0px;
}
.headercontainer{
    background-color: rgb(56, 55, 55);
    position:fixed;
    z-index: -1;
    width: 100%;
    float: right;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    float: right;
    margin-right: 960px;
}
li{
    display: inline;
    color: rgb(170, 166, 166);
    margin-left: 10px;
    
}