.side-nav-container {
  position: fixed;
  left: 0;
  list-style-type: none;
  margin: 0;

  background-color: rgb(56, 55, 55);
  height: calc(100vh - 34px);
  top: 34px;
  z-index: 1;
}
.side-nav-container .mat-icon {
  display: block;
  color: white;
  margin-top: 22px;
  padding: 6px;
}
