
.sidenavrightcontainer{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30px;
    background-color:  rgb(56, 55, 55);
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
 
}
.sidenavrightcontainer .sidebuttonright{
    display: block;
    width: 60px;
    color: white;
    margin-top: 25px;
  
}